# Core de Django
Django>=4.2,<5.0
asgiref
sqlparse

# Servidor y Despliegue
gunicorn
whitenoise
python-dotenv

# Base de Datos (SQLite no necesita nada, pero dejamos MySQL por si cambias)
mysqlclient

# Utilidades del proyecto
Pillow
requests
sickle
lxml
beautifulsoup4

# APIs y Frameworks (Si los usas en tus apps)
djangorestframework
django-cors-headers
